

.list-view .list-cell:filled:hover {
    -fx-cell-hover-color: #0093ff;
    -fx-text-fill: green;
}

/*.list-view .list-cell:even {
-fx-background-color: green;
-fx-text-fill: black;
}
.list-view .list-cell:odd {
-fx-background-color: white;
-fx-text-fill: black;
}*/
.list-view .list-cell {
    -fx-control-inner-background: #CCFFCC;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 50%);
}
.choice-box > .label { -fx-text-fill: white; }
.choice-box .context-menu { -fx-background-color:  white; }

.choice-box .menu-item:focused { -fx-background-color: #CCFFCC; }

.choice-box .menu-item > .label { -fx-text-fill: black; }

.choice-box .menu-item:focused > .label { -fx-text-fill: black; }